# Пример конфигурации (.env.example)
# Скопируйте этот файл в .env.local (для локальной разработки) 
# или в .env.docker (для запуска через docker-compose) и укажите свои данные.

DEBUG=True
SECRET_KEY=your_secret_key_here
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DB_ENGINE=django.db.backends.postgresql
DB_NAME=questions
DB_USER=admin
DB_PASSWORD=admin
DB_HOST=127.0.0.1
DB_PORT=5432

POSTGRES_DB=questions
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
EMAIL_HOST=127.0.0.1
EMAIL_PORT=1025

CENTRIFUGE_URL=http://127.0.0.1:8001/
CENTRIFUGE_HMAC_SECRET=your_secret_here
CENTRIFUGE_API_KEY=your_api_key_here