# Пример конфигурации (.env.example)
# Скопируйте этот файл в .env.local (для локальной разработки) 
# или в .env.docker (для запуска через docker-compose) и укажите свои данные.

DEBUG=False
SECRET_KEY=your_secret_key_here
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,ask.local

DB_ENGINE=django.db.backends.postgresql
DB_NAME=questions
DB_USER=admin
DB_PASSWORD=admin
DB_HOST=db
DB_PORT=5432

POSTGRES_DB=questions
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

REDIS_HOST=redis
REDIS_PORT=6379
EMAIL_HOST=maildev
EMAIL_PORT=1025

CENTRIFUGE_URL=http://centrifugo:8001/
CENTRIFUGE_TOKEN_HMAC_SECRET=your_secret_here
CENTRIFUGE_API_KEY=your_api_key_here
CENTRIFUGE_ALLOWED_ORIGINS=127.0.0.1,127.0.0.1:80,127.0.0.1:8000,ask.local