{% extends 'layout/base.html' %} {% load static %} 
{% block content %}
<main class="container flex-grow-1 mt-3 align-items-center">
      <h1 class="text-center mt-5 mb-5">Добро пожаловать в AskApple!</h1>
      
      <!-- Сообщение об ошибке регистрации (скрыто по умолчанию классом d-none) -->
      <div class="alert alert-danger d-none" role="alert" id="serverErrorAlert">
        Пользователь с таким email уже существует.
      </div>

      <!-- Убран класс was-validated -->
      <form class="row g-3 needs-validation" novalidate data-redirect-url="{% url 'core:login' %}">
        <div class="col-12">
          <label for="validationDefault01" class="form-label"
            >Адрес электронной почты</label
          >
          <input
            type="email"
            class="form-control"
            id="validationDefault01"
            required
          />
          <div class="invalid-feedback">
            Пожалуйста, введите корректный email адрес.
          </div>
        </div>

        <div class="col-12">
          <label for="validationDefault02" class="form-label"
            >Имя пользователя</label
          >
          <input
            type="text"
            class="form-control"
            id="validationDefault02"
            required
            minlength="3"
            maxlength="20"
          />
          <div class="invalid-feedback">
            Пожалуйста, введите имя пользователя (3-20 символов).
          </div>
        </div>

        <div class="col-12">
          <label for="validationDefault03" class="form-label">Пароль</label>
          <input
            type="password"
            class="form-control"
            id="validationDefault03"
            required
            minlength="8"
            maxlength="20"
            pattern="(?=.*\d)(?=.*[a-zA-Z])[a-zA-Z0-9]{8,20}"
          />
          <div class="invalid-feedback">
            Ваш пароль должен быть 8-20 символов, содержать буквы и цифры, без
            пробелов и спецсимволов.
          </div>
          <div class="form-text">Минимум 8 символов, буквы и цифры.</div>
        </div>

        <div class="col-12">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="invalidCheck2"
              required
            />
            <label class="form-check-label" for="invalidCheck2">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              Вы должны согласиться с условиями перед отправкой.
            </div>
          </div>
        </div>

        <div class="col-12">
          <button class="btn btn-primary" type="submit">
            Зарегистрироваться
          </button>
        </div>
      </form>

      <div class="mt-3">
        <p>Уже есть аккаунт? <a href="{% url 'core:login' %}">Войти</a></p>
      </div>
    </main>
{% endblock content %}