{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ask Apple</title>
    <link
      rel="icon"
      type="image/png"
      href="{% static 'questions/img/Logo.png' %}"
    />
    <link rel="stylesheet" href="{% static 'questions/css/bootstrap.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'questions/css/bootstrap-icons.css' %}"
    />
  </head>

  <body class="d-flex flex-column min-vh-100">
    <!-- Навигация -->
    <header>
      <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
          <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="text-decoration-none">
              <img
                src="{% static 'questions/img/Logo.png' %}"
                alt="Logo"
                class="rounded-circle"
                width="50"
                height="50"
              />
            </a>
            <a class="navbar-brand" href="index.html">AskApple</a>
          </div>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse flex-lg-row justify-content-lg-between ms-lg-4 mt-3 mt-lg-0"
            id="navbarSupportedContent"
          >
            <form
              class="d-flex flex-column flex-lg-row gap-2 justify-content-center"
              role="search"
            >
              <input
                class="form-control"
                type="search"
                placeholder="Найти вопрос"
              />
              <div class="d-flex gap-2 justify-content-lg-start">
                <button class="btn btn-success flex-shrink-0" type="submit">
                  Поиск
                </button>
                <a
                  class="btn btn-primary flex-shrink-0"
                  href="{% url 'questions:ask' %}"
                  role="button"
                  >+Ask!</a
                >
              </div>
            </form>
            <div
              class="ms-2 ms-lg-3 me-3 d-flex gap-3 mt-3 mt-lg-0 align-items-baseline"
            >
              <a href="login.html" class="link-light text-decoration-none"
                >Войти</a
              >
              <a class="btn btn-light" href="signup.html" role="button"
                >Регистрация</a
              >
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="container flex-grow-1 mt-3">
      {% block title %} {% endblock %}
      <div class="row p-0">
        <!-- Карточки -->
        {% block content %} {% endblock %}

        <!-- Боковая колонка -->
        <aside class="col-12 col-lg-3 order-1 order-lg-2 mb-4 mb-lg-0">
          <!-- Блок: Популярные теги -->
          <div class="card mb-3">
            <div class="card-header bg-white fw-bold">Популярные теги</div>
            <div class="card-body">
              <div class="d-flex flex-wrap gap-2">
                {% for tag in popular_tags %}
                <a href="#" class="badge text-bg-primary text-decoration-none"
                  >{{tag}}</a
                >
                {% endfor %}
              </div>
            </div>
          </div>

          <!-- Блок: Лучшие участники -->
          <div class="card mb-3">
            <div class="card-header bg-white fw-bold">Лучшие участники</div>
            <div class="card-body p-0">
              <ul class="list-group list-group-flush">
                {% for top_user in top_users %}
                <li class="list-group-item d-flex align-items-center gap-3">
                  <img
                    src="{% static 'questions/img/profile_image_dummy.png' %}"
                    alt="User"
                    class="rounded-circle"
                    width="40"
                    height="40"
                    style="object-fit: cover"
                  />
                  <div class="flex-grow-1">
                    <a href="#" class="text-decoration-none fw-bold text-dark"
                      >{{top_user.username}}</a
                    >
                    <div class="small text-muted">{{tio_user.reputation}} репутации</div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="card-footer bg-white text-center">
              <a href="#" class="text-decoration-none">Все участники →</a>
            </div>
          </div>
        </aside>
      </div>
    </main>

    <!-- Футер -->
    <footer class="bg-dark text-white text-center py-3 mt-auto">
      <div class="container">
        <p class="mb-0">© 2026 Knowledge Base</p>
      </div>
    </footer>

    <script src="{% static 'questions/js/bootstrap.bundle.js' %}"></script>

    <!-- Скрипт для обработки логики лайков и дизлайков -->
    <script src="{% static 'questions/js/main.js' %}"></script>
  </body>
</html>
